{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Mustafa</a>
              <small class="text-muted">02/06/2021</small>
            </div>
            <h2><a class="article-title" href="#">Third Blog Post</a></h2>
            <p class="article-content">Sed ut perspiciatis unde omnis iste natus error si
                t voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab ill
                o inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit as
                pernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quis
                quam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numqua</p>
          </div>
        </article>

                <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Mustafa</a>
              <small class="text-muted">01/06/2021</small>
            </div>
            <h2><a class="article-title" href="#">Second Blog Post</a></h2>
            <p class="article-content">Sed ut perspiciatis unde omnis iste natus error si
                t voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab ill
                o inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit as
                pernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quis
                quam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numqua</p>
          </div>
        </article>



                <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Mustafa</a>
              <small class="text-muted">03/05/2021</small>
            </div>
            <h2><a class="article-title" href="#">First Blog post</a></h2>
            <p class="article-content">Sed ut perspiciatis unde omnis iste natus error si
                t voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab ill
                o inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit as
                pernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quis
                quam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numqua</p>
          </div>
        </article>

{% endblock content %}